:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --colour-background: #1c1c1c;
  --colour-foreground: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme='light'] {
  --colour-foreground: #1c1c1c;
  --colour-background: rgba(255, 255, 255, 0.87);
}

[data-theme='dark'] {
  --colour-background: #1c1c1c;
  --colour-foreground: rgba(255, 255, 255, 0.87);
}

body {
  font-size: 1.2rem;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #09AE4B;
  cursor: pointer;
}
button:hover {
  background-color: #098b3d;
}


input[type="text"] {
  color: inherit;
  border-radius: 8px;
  border: 2px solid var(--colour-foreground);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: inherit;
}

svg {
  color: var(--colour-foreground);
  height: 1.9rem;
  width: 1.9rem;

}
